.header{
    background-color: #fff;
    padding: .4rem;
    overflow: hidden;
    height: 3.0rem;
    border-bottom:1px solid #eee;
}
.header-logo{
    color:#1e90ff;
    font-size: 1.5rem;
    text-align: left;
}
.header-txt{
    font-size: 1.0rem;
    color: #999;
    display: inline-block;
    padding-left: 1rem;
}
.ant-menu{
    line-height: 2.6rem;
}
.ant-menu-item{
    font-size: .7rem !important;
    padding-left: .4rem;
    padding-right: .4rem;
}